<!DOCTYPE html>
<html>
    <head>
        <!-- table border style is embedded in -->
        <style>
            table,td {border-style: solid;}
        </style>
        <title>GET and POST Checker</title>
    </head>
    <body>
        {{{body}}} <!-- handlebar make changes to this portion -->
    </body>
</html>