<!-- represents the home page -->
<h1>The Home Page</h1>

<a href="./"><button>Home Page</button></a> 
<a href="./sub2"><button>Life</button></a>
<a href="./sub3"><button>Movies</button></a>
<a href="./sub4"><button>Learn More</button></a>
<a href="./napoleon.pdf"><button class="download" id="script">Download Napoleon Script</button></a>