<!-- represents the home page -->
<h1>The Home Page</h1>
<button onclick="./">Home Page</button>
<button onclick="./sub2">Movies</button>
<button><a href="./sub3">Page Three</a></button>
<button><a href="./sub4">Page Four</a></button>
<button><a href="./sub4">Page Four</a></button>
<button onclick="https://kubrick.life">Outside Link</button>