<!-- represents the home page -->
<h1>The Home Page</h1>
<button><a href="./">Home Page</a></button>
<button><a href="./sub2">Page Two</a></button>
<button><a href="./sub3">Page Three</a></button>
<button><a href="./sub4">Page Four</a></button>
<button><a href="./sub4">Page Four</a></button>
<button><a href="https://kubrick.life/spartacus4/"></a>Here is a Better Website on Stanley Kubrick</button>