<!-- represents the home page -->
<h1>Directed By...</h1>
<div>
    <a href="./"><button>Home</button></a> 
    <a href="./sub2"><button>Till 2001</button></a>
    <a href="./sub3"><button>2001 and Beyond</button></a>
    <a href="./sub4"><button>Learn More</button></a>
    <a href="https://kubrick.life" target="_blank"><button>Outside Link</button></a>
    <a href="./download/napoleon.pdf" download="Stanley Kubrick's Napoleon">
        <button class="screenplaydownload" id="script">Download Napoleon Script</button></a>
</div>

<div class="container">
  <h2>Stanley Kubrick</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="./carousel/a.png" alt="filming2001" style="width:auto;">
        <div class="carousel-caption">
          <h3>Filming 2001: a Space Odessey</h3>
          <p><cite>kubrick.life</cite></p>
        </div>
      </div>

      <div class="item">
        <img src="./carousel/b.png" alt="self potrait" style="width:auto;">
        <div class="carousel-caption">
          <h3>Self Portrait</h3>
          <p><cite>kubrick.life</cite></p>
        </div>
      </div>
    
      <div class="item">
        <img src="./carousel/c.png" alt="filming eyes" style="width:auto;">
        <div class="carousel-caption">
          <h3>Filming Eyes Wide Shut</h3>
          <p><cite>kubrick.life</cite></p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>