<!-- Second Page of the Website -->
<h2>Second Page of the Website</h2>
<button><a href="./">Home Page</a></button>
<button><a href="./sub2">Page Two</a></button>
<button><a href="./sub3">Page Three</a></button>
<button><a href="./sub4">Page Four</a></button>