<!-- Second Page of the Website -->
<h1>ACT I</h1>

<div class="menu" id="menu">
    <a href="./"><button>Home</button></a> 
    <a href="./sub2"><button>ACT I</button></a>
    <a href="./sub3"><button>ACT II</button></a>
    <a href="./sub4"><button>ACT III</button></a>
    <a href="https://kubrick.life" target="_blank"><button>Outside Link</button></a>
    <a href="./download/napoleon.pdf" download="Stanley Kubrick's Napoleon">
        <button class="screenplaydownload" id="script">Download Napoleon Script</button></a>
</div>

<div class="acti" id="acti">
    <h3>Paths of Glory</h3>
    <h4>1957</h4>
    <figure>
        <img src="./img/pathsOfGlory.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on the novel by Humphrey Cobb</li>
            <li>Starring:</li>
                <ul>
                    <li>Kirk Douglas</li>
                    <li>Ralph Meeker</li>
                    <li>Adolphe Menjou</li>
                </ul>
            <li>Movie was banned in France and Switzerland upon release</li>
            <li>Part of United States National Film Registry</li>
        </ul>
    </div>
    <figure>
        <img src="./img/pathsOfGlorySet.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <h3>Spartacus</h3>
    <h4>1960</h4>
    <figure>
        <img src="./img/spartacus.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on the novel by Howard Fast</li>
            <li>Starring:</li>
                <ul>
                    <li>Kirk Douglas</li>
                    <li>Laurence Olivier</li>
                    <li>Jean Simmons</li>
                    <li>Charles Laughton</li>
                </ul>
            <li>Stanley Kubrick believes Spartacus to be his worst film</li>
        </ul>
    </div>
    <figure>
        <img src="./img/spartacusSet.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <h3>Lolita</h3>
    <h4>1962</h4>
    <figure>
        <img src="./img/lolita.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on the novel by Vladimir Nobokov</li>
            <li>Starring:</li>
                <ul>
                    <li>James Mason</li>
                    <li>Shelley Winters</li>
                    <li>Peter Sellers</li>
                    <li>Sue Lyon</li>
                </ul>
        </ul>
    </div>
    <figure>
        <img src="./img/lolitaSet.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
</div>