<!-- Third Page of the website -->
<h1>ACT II</h1>

<div class="menu" id="menu">
    <a href="./"><button>Home</button></a> 
    <a href="./sub2"><button>ACT I</button></a>
    <a href="./sub3"><button>ACT II</button></a>
    <a href="./sub4"><button>ACT III</button></a>
    <a href="https://kubrick.life" target="_blank"><button>Outside Link</button></a>
    <a href="./download/napoleon.pdf" download="Stanley Kubrick's Napoleon">
        <button class="screenplaydownload" id="script">Download Napoleon Script</button></a>
</div>

<div class="actii" id="actii">
    <h3>2001: A SPACE ODYSSEY</h3>
    <h4>1968</h4>
    <figure>
        <img src="./img/2001.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on Arthur Clarke's "The Sentinel"</li>
            <li>Screenplay written by Arthur Clarke and Stanley Kubrick</li>
            <li>Starring:</li>
                <ul>
                    <li>Keir Dullea</li>
                    <li>Gary Lockwood</li>
                </ul>
            <li>Academy Award for Best Visual Effects 1968</li>
            <li>Hugo Award (Dramatic Presentation)</li>
            <li>Part of United States National Film Registry</li>
        </ul>
    </div>
    <figure>
        <img src="./img/2001Set.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <h3>A CLOCKWORK ORANGE</h3>
    <h4>1971</h4>
    <figure>
        <img src="./img/aClockworkOrange.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on the novel by Anthony Burgess</li>
            <li>Starring:</li>
                <ul>
                    <li>Malcolm McDowell</li>
                    <li>Patrick Magee</li>
                    <li>Adrienne Corri</li>
                    <li>Miriam Karlin</li>
                </ul>
            <li>Film caused copycat killings</li>
            <li>Film was removed from British Cinema after release</li>
        </ul>
    </div>
    <figure>
        <img src="./img/clockworkSet.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <h3>BARRY LYNDON</h3>
    <h4>1975</h4>
    <figure>
        <img src="./img/barryLyndon.jpg" class="poster">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
    <div class="list">
        <ul>
            <li>Based on "The Luck of Barry Lyndon" by William Makepeace Thackeray</li>
            <li>Starring:</li>
                <ul>
                    <li>Ryan O'Neal</li>
                    <li>Marisa Berenson</li>
                    <li>Patrick Magee</li>
                    <li>Hardy Kruger</li>
                    <li>Diana Koerner</li>
                    <li>Gary Hamilton</li>
                </ul>
            <li>Stanley Kubrick wanted to make "Napoleon", but could not secure funding</li>
            <li>A camera was created just to film the candle-lit scenes in the movie</li>
        </ul>
    </div>
    <figure>
        <img src="./img/barryLyndonSet.jpg" class="set">
        <figcaption><cite>source: kubrick.life</cite></figcaption>
    </figure>
</div>