<!-- Fourth Page of the website -->
<h2>Learn More</h2>

<div class="menu" id="menu">
    <a href="./"><button>Home</button></a> 
    <a href="./sub2"><button>Till 2001</button></a>
    <a href="./sub3"><button>2001 and Beyond</button></a>
    <a href="./sub4"><button>Learn More</button></a>
    <a href="https://kubrick.life" target="_blank"><button>Outside Link</button></a>
    <a href="./download/napoleon.pdf" download="Stanley Kubrick's Napoleon">
        <button class="screenplaydownload" id="script">Download Napoleon Script</button></a>
</div>