img, figcaption {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.container {
  margin: 0 auto;
}

.menu, .form, h1, h2, .acti{
  height: auto;
  width: fit-content;
  margin: 0 auto;
  padding-top: 100px
}

div.acti {
  border-style: double;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  height: 500px;
  width: fit-content;
  overflow: scroll;
}

div.list {
  background-color: none;
  margin: 0 auto;
  width: 75%;
  padding: 10px 15px 15px 5px;
}

ul {
  background-color: LightBlue;
  list-style-type: circle;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
