img, figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: auto;
}

ul {
  text-align: justify;
  list-style: inside;
  list-style-type: circle;
  border: 2px solid lightskyblue;
  box-sizing: content-box;
  position: relative;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  }

div.acti {
  border-style: double;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 500px;
  overflow: scroll;
}

margin: 0;
background: yellow;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) }