img, figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: auto;
}

div.acti {
  border-style: double;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 500px;
  overflow: scroll;
}

ul {
  margin: 0;
  background: None;
  list-style-type: circle;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
  }